header
  div(class="logo")
    a(href="#")
      img(src="#" alt="" title="")
  nav(id="mainNav")
    ul
      li
        a(href="#") Who We Are
      li
        a(href="#") Hearing Missions
      li
        a(href="#") Programs
      li
        a(href="#") Gala
      li
        a(href="#") Take Action
        
