extend ../layouts/_layout.jade
block meta
block links
  link(rel="stylesheet" href="/css/styleguide.css")
block content
  //- Colors
  div.colorSwatch.black
    p #000000
  div.colorSwatch.white
    p #ffffff
  div.colorSwatch.lightGray
    p #bfbfbf
  div.colorSwatch.gray
    p #808080
  div.colorSwatch.darkGray
    p #404040
  div.colorSwatch.primary
    p #f2f2f2
  div.colorSwatch.secondary
    p #2f2f2f
  div.colorSwatch.accent
    p yellow
  
  //- Typography
  //- Lists
  //- Buttons
  //- Forms
  //- Tables
append scripts
